<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics</title>
</head>
{% extends 'App/profile/profile.html' %}
{%load static%}
<body>
    {% block data %}
    <div class="shadow-lg rounded-lg overflow-hidden">
        <div class="py-3 px-5 bg-gray-50">Company name</div>
        <canvas class="p-10" id="chartLine"></canvas>
      </div>
      
      <!-- Required chart.js -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <!-- Chart line -->
      <script>
        const labels = ["January", "February", "March", "April", "May", "June", "July", "August", "September","October", "November", "December"];
        const data = {
          labels: labels,
          datasets: [
            {
              label: "Steal Waste",
              backgroundColor: "hsl(200, 82.9%, 67.8%)",
              borderColor: "hsl(200, 82.9%, 67.8%)",
              data: [0, 10, 5, 2, 20, 30, 25, 10, 30, 20, 40, 35],
            },
            {
              label: "Biodegradable Waste",
              backgroundColor: "hsl(100, 82.9%, 67.8%)",
              borderColor: "hsl(100, 82.9%, 67.8%)",
              data: [12, 14, 20, 18, 16, 22, 30, 26, 28, 24, 32, 34],
            },
            {
              label: "Paper Waste",
              backgroundColor: "hsl(45, 82.9%, 67.8%)",
              borderColor: "hsl(45, 82.9%, 67.8%)",
              data: [2, 8, 6, 8, 4, 12, 20, 16, 24, 20, 30, 24, 22],
            },
            {
              label: "E-Waste",
              backgroundColor: "hsl(2, 82.9%, 67.8%)",
              borderColor: "hsl(2, 82.9%, 67.8%)",
              data: [15, 20, 10, 5, 10, 30, 22, 32, 14, 26, 43, 34],
            },
          ],
        };
      
        const configLineChart = {
          type: "line",
          data,
          options: {},
        };
      
        var chartLine = new Chart(
          document.getElementById("chartLine"),
          configLineChart
        );
      </script>
    {% endblock %}
</body>
</html>