<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.css" integrity="sha512-iAcZ4OrGhQ7KDqtM+LMc+iuv63aJ9O7hPyWBzCXsrZYuhJ6jhdeh40+hf9o4QmZVu8QrH/cWy/JTmoKNOL4Urw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js" integrity="sha512-E+gDQcIvNXE60SjCS38ysf1mGh4ObBpKcUOp0oEaHQHQAdaN2p7GelOpgEdpTuCLoIJyLkNXiqFZbyD9Ak/Ygw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

{% extends 'App/base.html' %}
{%load static%}

<body>
    {% block content %}
    <div class="bg-slate-900 flex w-full min-h-screen font-inter">
        <ul class="fixed left-[12%] sm:left-[30px] mt-[30px] sm:mt-[75px] flex w-3/4 sm:w-[200px] rounded-lg p-[10px] bg-[#f0f8ff5c] flex-row sm:flex-col">
            <li class="mx-auto sm:my-[15px] flex"><a class="text-white text-[1.1rem] flex" href="/User/Profile"><i class="bi bi-person-circle text-[1.35rem]"></i><span class="hidden sm:block mx-[5px] my-auto">Profile</span></a></li>
            {% if 'Recycler' in groups or 'Company' in groups %}<li class="mx-auto sm:my-[15px] flex"><a class="text-white text-[1.1rem] flex" href="/User/Analytics"><i class="bi bi-graph-up text-[1.35rem]"></i><span class="hidden sm:block mx-[5px] my-auto">Analytics</span></a></li>
            <li class="mx-auto sm:my-[15px] flex"><a class="text-white text-[1.1rem] flex" href="/User/Subscriptions"><i class="bi bi-coin text-[1.35rem]"></i><span class="hidden sm:block mx-[5px] my-auto">Subscription</span></a></li>
            <li class="mx-auto sm:my-[15px] flex"><a class="text-white text-[1.1rem] flex" href="/User/Rewards"><i class="bi bi-gift text-[1.35rem]"></i><span class="hidden sm:block mx-[5px] my-auto">Rewards</span></a></li>{% endif %}
            <li class="mx-auto sm:my-[15px] flex"><a class="text-white text-[1.1rem] flex" href="/logout/"><i class="bi bi-power text-[1.35rem]"></i><span class="hidden sm:block mx-[5px] my-auto">LogOut</span></a></li>
        </ul>
        
        
        <div class="ml-[20px] sm:ml-[260px] mr-[20px] sm:mr-[50px] mt-[110px] mb-[75px] sm:mt-[77px] rounded-lg flex flex-col w-full  bg-white p-[10px] sm:p-[20px]">
        {% block data %}
        {% endblock %}
        </div> 
    </div> 
    {% endblock %}
</body>
</html>