<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rewards</title>
</head>
{% extends 'App/profile/profile.html' %}
{%load static%}
<body>
    {% block data %}
    <div class="flex">
        <h1 class="flex m-auto bg-green-300 w-[250px] rounded-2xl h-10 py-[8px] px-[25px]">Rewards to Be Claimed : <span class="font-bold"> {{reward}}</span></h1>
    </div>
    <div class="flex flex-row items-center justify-evenly py-10 px-3 sm:px-10">
        <div class="flex flex-row">
            <span style="text-orientation: upright; writing-mode: vertical-lr;" class="text-black text-[0.75rem] mt-[15px] font-bold" >STEEL</span>
            <div class="w-10 sm:w-12 h-64 rounded-2xl bg-violet-200 relative overflow-hidden">
                <div id="steel" class="absolute rounded-2xl bg-violet-600 w-10 sm:w-12 bottom-0 flex" ></div>
                <span class="flex absolute bottom-[50%] left-[25%] text-white text-[1.25rem]">{{data.0}}</span>
            </div>
        </div>
        <div class="flex flex-row">
            <span style="text-orientation: upright; writing-mode: vertical-lr;" class="text-black text-[0.75rem] mt-[15px] font-bold" >E-WASTE</span>
            <div class="w-10 sm:w-12 h-64 rounded-2xl bg-green-200 relative overflow-hidden">
                <div id="ewaste" class="absolute rounded-2xl bg-green-600 w-10 sm:w-12 bottom-0 flex" ></div>
                <span class="flex absolute bottom-[50%] left-[25%] text-white text-[1.25rem]">{{data.1}}</span>
            </div>
        </div>
        <div class="flex flex-row">
            <span style="text-orientation: upright; writing-mode: vertical-lr;" class="text-black text-[0.75rem] mt-[15px] font-bold" >BIO-DEGRADABLE</span>
            <div class="w-10 sm:w-12 h-64 rounded-2xl bg-red-200 relative overflow-hidden">
                <div id="biodegrad" class="absolute rounded-2xl bg-red-600 w-10 sm:w-12 bottom-0 flex" ></div>
                <span class="flex absolute bottom-[50%] left-[25%] text-white text-[1.25rem]">{{data.2}}</span>
            </div>
        </div>
        <div class="flex flex-row">
            <span style="text-orientation: upright; writing-mode: vertical-lr;" class="text-black text-[0.75rem] mt-[15px] font-bold" >PAPER</span>
            <div class="w-10 sm:w-12 h-64 rounded-2xl bg-sky-200 relative overflow-hidden">
                <div id="paper" class="absolute rounded-2xl bg-sky-600 w-10 sm:w-12 bottom-0 flex" ></div>
                <span class="flex absolute bottom-[50%] left-[25%] text-white text-[1.25rem]">{{data.3}}</span>
            </div>
        </div>
    </div>
    
    
    {% if reward %}
    <form action="" method="POST" class="flex justify-center">
        {% csrf_token %}
        <input type="number" name="rewardamt" id="id_rewardamt" value="{{reward}}" hidden>
        <button type="submit">Claim Reward</button>
    </form>
    {% else %}
    <div class="flex justify-center">
        <button class=" text-center justify-center bg-green-300  w-[200px] rounded-2xl h-10 " type="button">Claim Reward</button>
    </div>
    {% endif %}
    
    
    <script>
        $(function(){
            const arr2 = ['#steel','#ewate','#biodegrad','#paper'];
            const arr1 = JSON.parse('{{data}}');
            for(i=0;i<4;i++){
                h1 = arr1[i];
                var hgt = h1.toString() + '%';
                $(arr2[i]).css('height',hgt)
            }
        });
    </script>

    {% endblock %}
</body>
</html>