<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>    
</head>

{% extends 'App/base.html' %}
{%load static%}

<body>
    {% block content %}
    <div class="content bg-slate-900 p-5 md:p-10 lg:p-24">
        <div class="min-w-full font-space mr-2 flex flex-col w-full lg:w-4/5">
            <h1 class="text-green-300 text-3xl md:text-5xl lg:text-7xl font-bold mr-2 mb-10">Hello,{{user.profile.name}}</h1>
        </div>

        <h3 class="text-white text-lg md:text-xl lg:text-3xl mr-2 mb-5 font-space">PickUp Schedule</h3>
        <div class="Table w-full lg:min-w-4/5 p-1 lg:p-2 bg-slate-50 rounded-2xl overflow-auto lg:overflow-hidden">
            <table class="relative border-separate border-spacing-0 table-auto min-w-full bg-slate-50 text-xs lg:text-sm opacity-90 text-center font-inter mr-2">
                <thead class="bg-slate-300">
                    <tr>
                        <th class="rounded-tl-xl px-4 py-1 w-min md:w-max">ID</th>
                        <th class="px-4 py-1">Company Name</th>
                        <th class="px-4 py-1">Type/Weight</th>
                        <th class="px-4 py-1">Location</th>
                        <th class="px-4 py-1">Map Location</th>
                        <th class="px-4 py-1">Status</th>
                        <th class="rounded-tr-xl px-4 py-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for waste in Pwastes_today %}
                    <tr>
                        <td class="place-content-center px-4 py-1 border-b border-slate-300 border-l flex items-center h-20 w-min md:w-full">{{waste.id}}</td>
                        <td class="text-center px-4 py-1 border-b border-slate-300 h-20 w-max"><span class="font-bold">{{waste.company.profile.name}}</span><br>{{waste.company.profile.phone}}</td>
                        <td class="text-center px-4 py-1 border-b border-slate-300 h-20 w-max">{{waste.type}} - {{waste.weight}}</td>
                        <td class="text-center py-1 border-b border-slate-300 h-20 w-max">{{waste.company.profile.location}},{{waste.company.profile.street}},{{waste.company.profile.city}}</td>
                        <td class="border-b border-slate-300 h-20 w-max">{{waste.company.profile.state}}</td>
                        <td class="border-b border-slate-300 border-r"><label for="id_pickup_done">
                            {% if waste.pickup_done %}
                            <button type="button" class="switch px-[5px] py-[3px] my-[3px] rounded-[5px] bg-green-200 text-green-800 border-[1px] border-green-800">Pickup Done</button>
                            {% else %}
                            <button type="button" class="switch px-[5px] py-[3px] my-[3px] rounded-[5px] bg-red-200 text-red-800 border-[1px] border-red-800">Pickup Not Done</button>
                            {% endif %}
                        </label></td>
                        <td class="border-b border-slate-300 border-r">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="text" name="id" id="id_id" value="{{waste.id}}" hidden>
                                <label for="id_pickup_done" class="text-[0.8rem]">Pickup Done: </label>
                                <input type="checkbox" name="pickup_done" id="id_pickup_done" {% if waste.pickup_done %} checked {% endif %}>
                                <input type="checkbox" name="dropdown_done" id="id_dropdown_done" hidden>
                                <br><button type="submit" class="px-[5px] py-[3px] my-[3px] bg-green-200 border-green-800 text-green-800 border-[1px] rounded-[3px]">Submit</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
        <div class="w-full text-[1rem] h-5 text-center text-white text-lg md:text-xl lg:text-2xl mb-20 font-space">
            {% if Pwastes_today.has_previous %}
            <button class="p-[5px] m-[5px]" type="button"><a href="?page1=1"><i class="bi bi-chevron-double-left"></i>First</a></button>
            <button class="p-[5px] m-[5px]" type="button"><a href="?page1={{wastes.previous_page_number}}"><i class="bi bi-chevron-left"></i>Previous</a></button>
            {% endif %}
            <button class="p-[5px] m-[5px]" type="button">Page {{Pwastes_today.number}} of {{Pwastes_today.paginator.num_pages}}</button>
            {% if Pwastes_today.has_next %}
            <button class="p-[5px] m-[5px]" type="button"><a href="?page1={{wastes.next_page_number}}">Next<i class="bi bi-chevron-right"></i></a></button>
            <button class="p-[5px] m-[5px]" type="button"><a href="?page1={{wastes.paginator.num_pages}}">Last<i class="bi bi-chevron-double-right"></i></a></button>
            {% endif %}
        </div>

        <h3 class="text-white text-lg md:text-xl lg:text-3xl mr-2 mb-5 font-space">PickUp Status</h3>
        <div class="Table w-full lg:min-w-4/5 p-1 lg:p-2 bg-slate-50 rounded-2xl overflow-auto lg:overflow-hidden">
            <table class="relative border-separate border-spacing-0 table-auto min-w-full bg-slate-50 text-sm opacity-90 text-center font-inter">
                <thead class="bg-slate-300">
                    <tr>
                        <th class="rounded-tl-xl px-4 py-1 w-min md:w-max">ID</th>
                        <th class="px-4 py-1">Company Name</th>
                        <th class="px-4 py-1">Type/Weight</th>
                        <th class="px-4 py-1">Location</th>
                        <th class="px-4 py-1">Map Location</th>
                        <th class="rounded-tr-xl px-4 py-1">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for waste in Pwastes %}
                    <tr>
                        <td class="place-content-center px-4 py-1 border-b border-slate-300 border-l flex items-center h-20 w-min md:w-full">{{waste.id}}</td>
                        <td class="text-center px-4 py-1 border-b border-slate-300 h-20 w-max"><span class="font-bold">{{waste.company.profile.name}}</span><br>{{waste.company.profile.phone}}</td>
                        <td class="text-center px-4 py-1 border-b border-slate-300 h-20 w-max">{{waste.type}} - {{waste.weight}}</td>
                        <td class="text-center py-1 border-b border-slate-300 h-20 w-max">{{waste.company.profile.location}},{{waste.company.profile.street}},{{waste.company.profile.city}}</td>
                        <td class="border-b border-slate-300 h-20 w-max">{{waste.company.profile.state}}</td>
                        <td class="border-b border-slate-300 border-r">
                            {% if waste.pickup_done %}
                            <button type="button" class="px-[5px] py-[3px] my-[3px] rounded-[5px] bg-green-200 text-green-800 border-[1px] border-green-800">Pickup Done</button>
                            {% else %}
                            <button type="button" class="px-[5px] py-[3px] my-[3px] rounded-[5px] bg-red-200 text-red-800 border-[1px] border-red-800">Pickup Not Done</button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
        <div class="w-full text-[1rem] h-5 text-center text-white text-lg md:text-xl lg:text-2xl mb-20 font-space">
            {% if Pwastes.has_previous %}
            <button class="p-[5px] m-[5px]" type="button"><a href="?page3=1"><i class="bi bi-chevron-double-left"></i>First</a></button>
            <button class="p-[5px] m-[5px]" type="button"><a href="?page3={{wastes.previous_page_number}}"><i class="bi bi-chevron-left"></i>Previous</a></button>
            {% endif %}
            <button class="p-[5px] m-[5px]" type="button">Page {{Pwastes.number}} of {{Pwastes.paginator.num_pages}}</button>
            {% if Pwastes.has_next %}
            <button class="p-[5px] m-[5px]" type="button"><a href="?page3={{wastes.next_page_number}}">Next<i class="bi bi-chevron-right"></i></a></button>
            <button class="p-[5px] m-[5px]" type="button"><a href="?page3={{wastes.paginator.num_pages}}">Last<i class="bi bi-chevron-double-right"></i></a></button>
            {% endif %}
        </div>

        <h3 class="text-white text-lg md:text-xl lg:text-3xl mr-2 mb-5 font-space">Deliveries Scheduled</h3>
        <div class="Table w-full lg:min-w-4/5 p-1 lg:p-2 bg-slate-50 rounded-2xl overflow-auto lg:overflow-hidden">
            <table class="relative border-separate border-spacing-0 table-auto min-w-full bg-slate-50 text-xs lg:text-sm opacity-90 text-center font-inter mr-2">
                <thead class="bg-slate-300">
                    <tr>
                        <th class="rounded-tl-xl px-4 py-1 w-min md:w-max">ID</th>
                        <th class="px-4 py-1">Company Name</th>
                        <th class="px-4 py-1">Type/Weight</th>
                        <th class="px-4 py-1">Location</th>
                        <th class="px-4 py-1">Map Location</th>
                        <th class="px-4 py-1">Status</th>
                        <th class="rounded-tr-xl px-4 py-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for waste in Dwastes_today %}
                    <tr>
                        <td class="place-content-center px-4 py-1 border-b border-slate-300 border-l flex items-center h-20 w-min md:w-full">{{waste.id}}</td>
                        <td class="text-center px-4 py-1 border-b border-slate-300 h-20 w-max"><span class="font-bold">{{waste.recycler.profile.name}}</span><br>{{waste.recycler.profile.phone}}</td>
                        <td class="text-center px-4 py-1 border-b border-slate-300 h-20 w-max">{{waste.type}} - {{waste.weight}}</td>
                        <td class="text-center py-1 border-b border-slate-300 h-20 w-max">{{waste.recycler.profile.location}},{{waste.recycler.profile.street}},{{waste.recycler.profile.city}}</td>
                        <td class="border-b border-slate-300">{{waste.recycler.profile.state}}</td>
                        <td class="border-b border-slate-300"><label for="id_pickup_done">
                            {% if waste.dropdown_done %}
                            <button type="button" class="switch px-[5px] py-[3px] my-[3px] rounded-[5px] bg-green-200 text-green-800 border-[1px] border-green-800">Dropdown Done</button>
                            {% else %}
                            <button type="button" class="switch px-[5px] py-[3px] my-[3px] rounded-[5px] bg-red-200 text-red-800 border-[1px] border-red-800">Dropdown Not Done</button>
                            {% endif %}
                        </label></td>
                        <td class="border-b border-slate-300 border-r">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="text" name="id" id="id_id" value="{{waste.id}}" hidden>
                                <label class="text-[0.8rem]" for="id_dropdown_done">Dropdown Done:</label><input type="checkbox" name="dropdown_done" id="id_dropdown_done" {% if waste.dropdown_done %} checked {% endif %}>
                                <input type="checkbox" name="pickup_done" id="id_pickup_done" checked hidden>
                                <br><button type="submit" class="px-[5px] py-[3px] my-[3px] bg-green-200 border-green-800 text-green-800 border-[1px] rounded-[3px]">Submit</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
        <div class="w-full text-[1rem] h-5 text-center text-white text-lg md:text-xl lg:text-2xl mb-20 font-space">
            {% if Dwastes_today.has_previous %}
            <button class="p-[5px] m-[5px]" type="button"><a href="?page2=1"><i class="bi bi-chevron-double-left"></i>First</a></button>
            <button class="p-[5px] m-[5px]" type="button"><a href="?page2={{wastes.previous_page_number}}"><i class="bi bi-chevron-left"></i>Previous</a></button>
            {% endif %}
            <button class="p-[5px] m-[5px]" type="button">Page {{Dwastes_today.number}} of {{Dwastes_today.paginator.num_pages}}</button>
            {% if Dwastes_today.has_next %}
            <button class="p-[5px] m-[5px]" type="button"><a href="?page2={{wastes.next_page_number}}">Next<i class="bi bi-chevron-right"></i></a></button>
            <button class="p-[5px] m-[5px]" type="button"><a href="?page2={{wastes.paginator.num_pages}}">Last<i class="bi bi-chevron-double-right"></i></a></button>
            {% endif %}
        </div>
 
        <h3 class="text-white text-lg md:text-xl lg:text-3xl mr-2 mb-5 font-space">Delivery Status</h3>
        <div class="Table w-full lg:min-w-4/5 p-1 lg:p-2 bg-slate-50 rounded-2xl overflow-auto lg:overflow-hidden">
            <table class="relative border-separate border-spacing-0 table-auto min-w-full bg-slate-50 text-xs lg:text-sm opacity-90 text-center font-inter mr-2">
                <thead class="bg-slate-300">
                    <tr>
                        <th class="rounded-tl-xl px-4 py-1 w-min md:w-max">ID</th>
                        <th class="px-4 py-1">Company Name</th>
                        <th class="px-4 py-1">Type/Weight</th>
                        <th class="px-4 py-1">Location</th>
                        <th class="px-4 py-1">Map Location</th>
                        <th class="rounded-tr-xl px-4 py-1">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for waste in Dwastes %}
                    <tr>
                        <td class="place-content-center px-4 py-1 border-b border-slate-300 border-l flex items-center h-20 w-min md:w-full">{{waste.id}}</td>
                        <td class="text-center px-4 py-1 border-b border-slate-300 h-20 w-max"><span class="font-bold">{{waste.recycler.profile.name}}</span><br>{{waste.recycler.profile.phone}}</td>
                        <td class="text-center px-4 py-1 border-b border-slate-300 h-20 w-max">{{waste.type}} - {{waste.weight}}</td>
                        <td class="text-center py-1 border-b border-slate-300 h-20 w-max">{{waste.recycler.profile.location}},{{waste.recycler.profile.street}},{{waste.recycler.profile.city}}</td>
                        <td class="border-b border-slate-300 h-20 w-max">{{waste.recycler.profile.state}}</td>
                        <td class="border-b border-slate-300 border-r">
                            {% if waste.dropdown_done %}
                            <button type="button" class="px-[5px] py-[3px] my-[3px] rounded-[5px] bg-green-200 text-green-800 border-[1px] border-green-800">Dropdown Done</button>
                            {% else %}
                            <button type="button" class="px-[5px] py-[3px] my-[3px] rounded-[5px] bg-red-200 text-red-800 border-[1px] border-red-800">Dropdown Not Done</button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
        <div class="w-full text-[1rem] h-5 text-center text-white text-lg md:text-xl lg:text-2xl mb-20 font-space">
            {% if Dwastes.has_previous %}
            <button class="p-[5px] m-[5px]" type="button"><a href="?page4=1"><i class="bi bi-chevron-double-left"></i>First</a></button>
            <button class="p-[5px] m-[5px]" type="button"><a href="?page4={{wastes.previous_page_number}}"><i class="bi bi-chevron-left"></i>Previous</a></button>
            {% endif %}
            <button class="p-[5px] m-[5px]" type="button">Page {{Dwastes.number}} of {{Dwastes.paginator.num_pages}}</button>
            {% if Dwastes.has_next %}
            <button class="p-[5px] m-[5px]" type="button"><a href="?page4={{wastes.next_page_number}}">Next<i class="bi bi-chevron-right"></i></a></button>
            <button class="p-[5px] m-[5px]" type="button"><a href="?page4={{wastes.paginator.num_pages}}">Last<i class="bi bi-chevron-double-right"></i></a></button>
            {% endif %}
        </div>
    </div>
    {% endblock %}
</body>
</html>