<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Shipments</title>    
</head>

{% extends 'App/base.html' %}
{%load static%}

<body>
    {% block content %}
    <div class="content bg-slate-900 p-5 md:p-10 lg:p-24">
        <div class="min-w-full font-space mr-2 flex flex-col w-full lg:w-4/5">
            <h1 class="text-green-300 text-3xl md:text-5xl lg:text-7xl font-bold mr-2">Hello,{{user.profile.name}}</h1>
            <div class="my-9 w-fit bg-green-300 px-2 rounded-md">Manage Shipments</div>
        </div>
        <h3 class="text-white text-lg md:text-xl lg:text-3xl mr-2 mb-5 font-space">Manage Pickup</h3>
        <div class="Table w-full lg:min-w-4/5 p-1 lg:p-2 bg-slate-50 rounded-2xl overflow-auto lg:overflow-hidden">
            <table class="relative border-separate border-spacing-0 table-auto min-w-full bg-slate-50 text-xs lg:text-sm opacity-90 text-center font-inter mr-2">
                <thead class="bg-slate-300">
                    <tr>
                        <th class="rounded-tl-xl px-4 py-1 w-min md:w-max">ID</th>
                        <th class="px-4 py-1">Company Name</th>
                        <th class="px-4 py-1">Type/Weight</th>
                        <th class="px-4 py-1">Location</th>
                        <th class="px-4 py-1">Entry Date</th>
                        <th class="rounded-tr-xl px-4 py-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for waste in update_pickup %}
                    <tr>
                        <td class="place-content-center px-4 py-1 border-b border-slate-300 border-l flex items-center h-20 w-min md:w-full">{{waste.id}}</td>
                        <td class="border-b border-slate-300 h-20 w-max"><span class="font-bold">{{waste.company.profile.name}}</span><br>{{waste.company.profile.phone}}</td>
                        <td class="border-b border-slate-300 h-20 w-max">{{waste.type}}<br><span class="font-bold">{{waste.weight}}</span></td>
                        <td class="border-b border-slate-300 h-20 w-max">{{waste.company.profile.location}},{{waste.company.profile.street}}<br>{{waste.company.profile.city}}</td>
                        <td class="border-b border-slate-300 h-20 w-max">{{waste.entry_date}}</td>
                        <td class="border-b border-slate-300 h-20 w-max border-r">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="text" name="id" id="id_id" value="{{waste.id}}" hidden>
                                <button type="submit" class="px-[5px] py-[3px] my-[3px] bg-green-200 border-green-800 text-green-800 border-[1px] rounded-[3px] w-max">Update</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
        <div class="w-full text-[1rem] h-5 text-center text-white text-lg md:text-xl lg:text-2xl mb-20 font-space">
            {% if update_pickup.has_previous %}
            <button class="p-[5px] m-[5px]" type="button"><a href="?page1=1"><i class="bi bi-chevron-double-left"></i>First</a></button>
            <button class="p-[5px] m-[5px]" type="button"><a href="?page1={{wastes.previous_page_number}}"><i class="bi bi-chevron-left"></i>Previous</a></button>
            {% endif %}
            <button class="p-[5px] m-[5px]" type="button">Page {{update_pickup.number}} of {{update_pickup.paginator.num_pages}}</button>
            {% if update_pickup.has_next %}
            <button class="p-[5px] m-[5px]" type="button"><a href="?page1={{wastes.next_page_number}}">Next<i class="bi bi-chevron-right"></i></a></button>
            <button class="p-[5px] m-[5px]" type="button"><a href="?page1={{wastes.paginator.num_pages}}">Last<i class="bi bi-chevron-double-right"></i></a></button>
            {% endif %}
        </div>

        <h3 class="text-white text-lg md:text-xl lg:text-3xl mr-2 mb-5 font-space">Scheduled Pickups</h3>
        <div class="Table w-full lg:min-w-4/5 p-1 lg:p-2 bg-slate-50 rounded-2xl overflow-auto lg:overflow-hidden">
            <table class="relative border-separate border-spacing-0 table-auto min-w-full bg-slate-50 text-xs lg:text-sm opacity-90 text-center font-inter mr-2">
                <thead class="bg-slate-300">
                    <tr>
                        <th class="rounded-tl-xl px-4 py-1 w-min md:w-max">ID</th>
                        <th class="px-4 py-1">Company Name</th>
                        <th class="px-4 py-1">Type/Weight</th>
                        <th class="px-4 py-1">Location</th>
                        <th class="px-4 py-1">Emloyee Details</th>
                        <th class="px-4 py-1">Pickup Date</th>
                        <th class="rounded-tr-xl px-4 py-1">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for waste in pickup %}
                    <tr>
                        <td class="place-content-center px-4 py-1 border-b border-slate-300 border-l flex items-center h-20 w-min md:w-full">{{waste.id}}</td>
                        <td class="border-b border-slate-300 h-20 w-max"><span class="font-bold">{{waste.company.profile.name}}</span><br>{{waste.company.profile.phone}}</td>
                        <td class="border-b border-slate-300 h-20 w-max">{{waste.type}}<br><span class="font-bold">{{waste.weight}}</span></td>
                        <td class="border-b border-slate-300 h-20 w-max">{{waste.company.profile.location}},{{waste.company.profile.street}}<br>{{waste.company.profile.city}}</td>
                        <td class="border-b border-slate-300 h-20 w-max"><span class="font-bold">{{waste.employee.profile.name}}</span><br>{{waste.employee.profile.phone}}</td>
                        <td class="border-b border-slate-300 h-20 w-max">{{waste.pickup_date}}</td>
                        <td class="border-b border-slate-300 h-20 w-max border-r">
                            {% if waste.pickup_done %}
                            <button type="button" class="px-[5px] py-[3px] my-[3px] rounded-[5px] bg-green-200 text-green-800 border-[1px] border-green-800 w-max">Picked Up</button>
                            {% else %}
                            <button type="button" class="px-[5px] py-[3px] my-[3px] rounded-[5px] bg-red-200 text-red-800 border-[1px] border-red-800 w-max">Not Picked Up</button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
        <div class="w-full text-[1rem] h-5 text-center text-white text-lg md:text-xl lg:text-2xl mb-20 font-space">
            {% if pickup.has_previous %}
            <button class="p-[5px] m-[5px]" type="button"><a href="?page2=1"><i class="bi bi-chevron-double-left"></i>First</a></button>
            <button class="p-[5px] m-[5px]" type="button"><a href="?page2={{wastes.previous_page_number}}"><i class="bi bi-chevron-left"></i>Previous</a></button>
            {% endif %}
            <button class="p-[5px] m-[5px]" type="button">Page {{pickup.number}} of {{pickup.paginator.num_pages}}</button>
            {% if pickup.has_next %}
            <button class="p-[5px] m-[5px]" type="button"><a href="?page2={{wastes.next_page_number}}">Next<i class="bi bi-chevron-right"></i></a></button>
            <button class="p-[5px] m-[5px]" type="button"><a href="?page2={{wastes.paginator.num_pages}}">Last<i class="bi bi-chevron-double-right"></i></a></button>
            {% endif %}
        </div>

        <h3 class="text-white text-lg md:text-xl lg:text-3xl mr-2 mb-5 font-space">Manage Deliveries</h3>
        <div class="Table w-full lg:min-w-4/5 p-1 lg:p-2 bg-slate-50 rounded-2xl overflow-auto lg:overflow-hidden">
            <table class="relative border-separate border-spacing-0 table-auto min-w-full bg-slate-50 text-xs lg:text-sm opacity-90 text-center font-inter mr-2">
                <thead class="bg-slate-300">
                    <tr>
                        <th class="ounded-tl-xl px-4 py-1 w-min md:w-max">ID</th>
                        <th class="px-4 py-1">Type/Weight</th>
                        <th class="px-4 py-1">Pickup Date</th>
                        <th class="rounded-tr-xl px-4 py-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for waste in update_dropdown %}
                    <tr>
                        <td class="text-left px-4 py-1 border-b border-slate-300 border-l">{{waste.id}}</td>
                        <td class="border-b border-slate-300 h-20 w-max">{{waste.type}}<br><span class="font-bold">{{waste.weight}}</span></td>
                        <td class="border-b border-slate-300 h-20 w-max">{{waste.pickup_date}}</td>
                        <td class="border-b border-slate-300 h-20 w-max border-r"><form action="" method="POST">{% csrf_token %}<input type="text" name="id" id="id_id" value="{{waste.id}}" hidden><button type="submit" class="px-[5px] py-[3px] my-[3px] bg-green-200 border-green-800 text-green-800 border-[1px] rounded-[3px]">Update</button></form></td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
        <div class="w-full text-[1rem] h-5 text-center text-white text-lg md:text-xl lg:text-2xl mb-20 font-space">
            {% if update_dropdown.has_previous %}
            <button class="p-[5px] m-[5px]" type="button"><a href="?page3=1"><i class="bi bi-chevron-double-left"></i>First</a></button>
            <button class="p-[5px] m-[5px]" type="button"><a href="?page3={{wastes.previous_page_number}}"><i class="bi bi-chevron-left"></i>Previous</a></button>
            {% endif %}
            <button class="p-[5px] m-[5px]" type="button">Page {{update_dropdown.number}} of {{update_dropdown.paginator.num_pages}}</button>
            {% if update_dropdown.has_next %}
            <button class="p-[5px] m-[5px]" type="button"><a href="?page3={{wastes.next_page_number}}">Next<i class="bi bi-chevron-right"></i></a></button>
            <button class="p-[5px] m-[5px]" type="button"><a href="?page3={{wastes.paginator.num_pages}}">Last<i class="bi bi-chevron-double-right"></i></a></button>
            {% endif %}
        </div>

        <h3 class="text-white text-lg md:text-xl lg:text-3xl mr-2 mb-5 font-space">Deliveries Scheduled</h3>
        <div class="Table w-full lg:min-w-4/5 p-1 lg:p-2 bg-slate-50 rounded-2xl overflow-auto lg:overflow-hidden">
            <table class="relative border-separate border-spacing-0 table-auto min-w-full bg-slate-50 text-xs lg:text-sm opacity-90 text-center font-inter mr-2">
                <thead class="bg-slate-300">
                    <tr>
                        <th class="rounded-tl-xl px-4 py-1 w-min md:w-max">ID</th>
                        <th class="px-4 py-1">Type/Weight</th>
                        <th class="px-4 py-1">Recycler Details</th>
                        <th class="px-4 py-1">Location</th>
                        <th class="px-4 py-1">Employee Details</th>
                        <th class="px-4 py-1">Dropdown Date</th>
                        <th class="rounded-tr-xl px-4 py-1">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for waste in dropdown %}
                    <tr>
                        <td class="place-content-center px-4 py-1 border-b border-slate-300 border-l flex items-center h-20 w-min md:w-full">{{waste.id}}</td>
                        <td class="border-b border-slate-300 h-20 w-max">{{waste.type}}<br><span class="font-bold">{{waste.weight}}</span></td>
                        <td class="border-b border-slate-300 h-20 w-max"><span class="font-bold">{{waste.recycler.profile.name}}</span><br>{{waste.recycler.profile.phone}}</td>
                        <td class="border-b border-slate-300 h-20 w-max">{{waste.recycler.profile.location}},{{waste.recycler.profile.street}}<br>{{waste.recycler.profile.city}}</td>
                        <td class="border-b border-slate-300 h-20 w-max"><span class="font-bold">{{waste.employee.profile.name}}</span><br>{{waste.employee.profile.phone}}</td>
                        <td class="border-b border-slate-300 h-20 w-max">{{waste.dropdown_date}}</td>
                        <td class="border-b border-slate-300 h-20 w-max border-r">
                            {% if waste.dropdown_done %}
                            <button type="button" class="px-[5px] py-[3px] my-[3px] rounded-[5px] bg-green-200 text-green-800 border-[1px] border-green-800 w-max">Delivered</button>
                            {% else %}
                            <button type="button" class="px-[5px] py-[3px] my-[3px] rounded-[5px] bg-red-200 text-red-800 border-[1px] border-red-800 w-max">Not Delivered</button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
        <div class="w-full text-[1rem] h-5 text-center text-white text-lg md:text-xl lg:text-2xl mb-20 font-space">
            {% if dropdown.has_previous %}
            <button class="p-[5px] m-[5px]" type="button"><a href="?page4=1"><i class="bi bi-chevron-double-left"></i>First</a></button>
            <button class="p-[5px] m-[5px]" type="button"><a href="?page4={{wastes.previous_page_number}}"><i class="bi bi-chevron-left"></i>Previous</a></button>
            {% endif %}
            <button class="p-[5px] m-[5px]" type="button">Page {{dropdown.number}} of {{dropdown.paginator.num_pages}}</button>
            {% if dropdown.has_next %}
            <button class="p-[5px] m-[5px]" type="button"><a href="?page4={{wastes.next_page_number}}">Next<i class="bi bi-chevron-right"></i></a></button>
            <button class="p-[5px] m-[5px]" type="button"><a href="?page4={{wastes.paginator.num_pages}}">Last<i class="bi bi-chevron-double-right"></i></a></button>
            {% endif %}
        </div>
    </div>
    
    
    {% if Waste %}
    <div id="modal" class="fixed top-0 w-full h-screen flex bg-[#00000090] z-[999] ">
        <div class="relative flex m-auto p-[20px] w-[300px] sm:w-[600px] h-[500px] bg-white rounded-lg">
            <div class="modal-content w-full">
            <div class="modal-header">
                <button class="absolute top-[10px] right-[10px] closeModal" ><i class="bi bi-x-lg text-black text-[20px]"></i></button>
                <h2 class="text-center text-[1.2rem]">Update PickUp Info</h2>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div><label for="id_id">ID:</label><input type="text" name="id" id="id_id" value="{{Waste.id}}"></div>
                {% if Waste.pickup_done %}
                <div>type/weight:{{Waste.type}}{{Waste.weight}}</div>
                <div><label for="id_recycler">Recycler:</label><select name="recycler" id="id_recycler">
                    <option value="None">---------</option>
                    {% for recycler in recyclers%}
                    <option value="{{recycler.id}}">{{recycler.profile.name}}</option>
                    {% endfor %}
                </select></div>
                <div><label for="id_employee">Employee:</label><select name="employee" id="id_employee">
                    <option value="None">---------</option>
                    {% for employee in employees%}
                    <option value="{{employee.id}}">{{employee.profile.name}}</option>
                    {% endfor %}
                </select></div>
                <input type="text" name="pickup_date" id="id_pickup_date" value="{{date}}" hidden>
                <div><label for="id_dropdown_date">Dropdown Date:</label><input type="date" name="dropdown_date" id="id_dropdown_date"></div>
                {% else %}
                <div>company:{{Waste.company}}</div>
                <div>type/weight:{{Waste.type}}{{Waste.weight}}</div>
                <div>location:{{Waste.company.profile.location}}{{Waste.company.profile.street}}{{Waste.company.profile.city}}{{Waste.company.profile.state}} </div>
                <div>entry date:{{Waste.entry_date}}</div>
                <div><label for="id_employee">Employee:</label><select name="employee" id="id_employee">
                    <option value="None">---------</option>
                    {% for employee in employees%}
                    <option value="{{employee.id}}">{{employee.profile.name}}</option>
                    {% endfor %}
                </select></div>
                <div><label for="id_pickup_date">Pickup Date:</label><input type="date" name="pickup_date" id="id_pickup_date"></div>
                <input type="text" value="{{Waste.recycler}}" hidden>
                <input type="date" value="{{Waste.dropdown_date}}" hidden>
                {% endif %}
                <input type="submit" name="submit" class="border-[1px] bg-white text-green-600 border-green-600 hover:bg-green-600 hover:text-white rounded-lg p-[3px]">
                <button type="button" class="closeModal border-[1px] bg-white text-rose-600 border-rose-600 hover:bg-rose-600 hover:text-white rounded-lg p-[3px]">Cancel</button>
            </form>
            </div>
        </div>
    </div>
    {% endif %}
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(function () {
        $(".closeModal").click(function () {
            $("#modal").addClass("hidden");
        });
        });
    </script>

    {% endblock %}
</body>
</html>