<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@300&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                white: '#ffffff',
                forestgreen: '#228B22',
                lightgreen: '	#90EE90',
                mediumturquoise: '#48D1CC',
                midnightblue: '#191970',
                black: '#000000'
              },
              fontFamily:{
                space:['Space Grotesk', 'sans-serif'],
                inter:['Inter', 'sans-serif'],
                ced:['Cedarville Cursive', 'cursive']
              }
            }
          }
        }
    </script>
</head>
<body>
    <div class="bg-slate-900 min-h-screen w-full flex text-white">
        <div class="m-auto">
            <h1>Enter New Password</h1>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            <form action=""  method="POST">
                {% csrf_token %}
                {{form}}
                <input  type="submit"  name="Update Password">
            </form>
        </div>
    </div>
</body>
</html>