<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 error page</title>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@300&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                white: '#ffffff',
                forestgreen: '#228B22',
                lightgreen: '	#90EE90',
                mediumturquoise: '#48D1CC',
                midnightblue: '#191970',
                black: '#000000'
              },
              fontFamily:{
                space:['Space Grotesk', 'sans-serif'],
                inter:['Inter', 'sans-serif'],
                ced:['Cedarville Cursive', 'cursive']
              }
            }
          }
        }
    </script>
</head>
{%load static%}
<body>
    <div class="flex flex-col place-content-center items-center min-h-screen min-w-screen bg-slate-900">
        <h1 class="text-xl md:text-3xl lg:text-5xl py-2 lg:py-10 text-center text-green-300 font-space">Oops!</h1><br>
        <img src="{% static 'IMGS/failed.png'%}" class="w-32 md:w-64 lg:w-96 h-auto mx-auto mb-4"/>
        <h3 class="text-xl md:text-2xl lg:text-3xl py-2 lg:py-10 text-center text-green-300 font-space">404 - PAGE NOT FOUND</h3><br>
        <h3 class="text-lg md:text-xl lg:text-2xl text-center text-green-300 font-space">The page you are looking for might have been removed<br> had its name changed or is being Upcycled.</h3>
        <a href="/" class="text-center my-9 w-fit bg-green-300 px-2 rounded-md">Click Here To Return To Home Page</a>
    </div>
</body>
</html>