<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awareness</title> 

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">   
</head>

{% extends 'App/base.html' %}
{%load static%}

<body class="bg-black">
    {% block content %}
  <div class="bg-slate-900 flex w-full min-h-screen flex-col">
    <div class="text-white text-[1.1rem]">
      <div class="flex flex-wrap">
      <img  class="max-w-[80%] mx-auto md:max-w-[45%] my-auto" src="{% static '/IMGS/logo1.png' %}" alt="">
      <div class="md:max-w-[55%] px-[25px]">
        <h1 class="text-green-300 text-6xl p-8">Giving back to the Community</h1><p>
        Effective communication between waste management organisations and citizens is essential to the efficient operation of waste management services. Citizens need to know what services are available to them, and the schedule and requirements of that service, in order for those services to be efficiently used. Citizens are also more likely to undertake waste sorting and recycling activities if they know what happens to waste that is sent for recycling, and the associated environmental benefits.
        An effective way to improve attitudes towards waste reuse and recycling is to integrate waste management education into school curriculum and particularly teaching children about the causes and consequences of waste disposal and highlighting the importance of waste prevention, reuse and recycling. This is one of the things that we aim to do.
        </p><button class="bg-green-300 text-blackd py-2 px-4 rounded my-8 mx-8">Join us!</button></div>
      </div>
      <div class="mb-[75px]"> 
      <p class="mx-[50px]">Best practice in awareness-raising is to effectively encourage waste prevention, reuse and recycling behaviour within the waste collection catchment area. Ultimately, this should translate into improved performance across key waste generation and separation indicators. Particular emphasis is placed on reaching all stakeholders, including non-native speakers via multilingual or pictorial communication ad via school activities.</p>
      <br>
      <ul class="list-none mx-[50px]"> Best practices for awareness-raising campaigns need to:
      <li>Ensure continuity, consistency, complementarity and clarity of all communications with well-defined aims and objectives;</li>
      <li>create clear messages appropriate to, and directed at, well-defined target audiences;</li>
      <li>ensure efficient delivery through the integration of activities and clear lines of responsibility.</li>
      </ul><br>
      <p class="mx-[50px]">Well designed and developed awareness campaigns may contribute to the overcome of the two main barriers to recycling; the lack of knowledge where information about proper waste segregation is communicated to the citizens and changing attitudes and perceptions and keep people motivated to avoid and sort waste. We hope to bridge this very gap with UpCycle.</p>
      </div>
    </div>
    <div class=" px-6 text-white"><hr><br><br></div>
    <div class="flex flex-wrap">
      <div class="text-white shadow-lg border-2 px-6 py-4 rounded max-w-[300px] sm:max-w-[300px] mx-[15px] sm:mx-[25px] my-[25px]"><div class="font-bold text-xl mb-2 text-white">Step 1 </div>Raising awareness among people, about the importance of recycling and maintaining sustainability, by conducting awareness drives in rural areas. This can be done by partnering with municipalities and panchayats.</div>
      <div class="text-white shadow-lg border-2 px-6 py-4 rounded max-w-[175px] sm:max-w-[250px] mx-[15px] sm:mx-[25px] my-[25px]"><div class="font-bold text-xl mb-2 text-white">Step 2</div>Children are the future of our world. they need to be taught about the importance and need for recycling. We can organise school trips where children visit one of our partner recycling facilities and view what takes place in them.</div>
      <div class="text-white shadow-lg border-2 px-6 py-4 rounded max-w-[175px] sm:max-w-[250px] mx-[15px] sm:mx-[25px] my-[25px]"><div class="font-bold text-xl mb-2 text-white">Step 3</div>Social media plays a very integral role in shaping the minds of our generation. Even one rightly placed post can mean the difference between educting a person about recycling and ignorance.</div>
    </div>
  </div>
    {% endblock %}
</body>
</html>