<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>    
</head>

{% extends 'App/base.html' %}
{%load static%}

<body>
    {% block content %}
    <div class="content bg-slate-900 sm:p-24 p-4 w-full">
        <div class="min-w-full font-space mb-16">
            <h1 class="text-green-300 lg:text-7xl md:text-4xl text-2xl font-bold ">Hello, Company ABC</h1>
        </div>
        <div class="flex no-wrap sm:gap-4 md:gap-2 gap-1 bg-slate-900 w-full place-content-evenly">
            <div class="flex flex-col bg-slate-500 rounded-2xl items-center justify-center space-around basis-1/5">
                <ul class="text-white text-xl font-space my-8 sm:indent-4 sm:text-left text-center my-4">
                    <li class="my-2"><a href="/Profile">Profile</a></li>
                    <li class="my-2"><a href="/Profile">Analytics</a></li>
                    <li class="my-2"><a href="/Profile">Rewards</a></li>
                    <li class="my-2"><a href="/Profile">Logout</a></li>
                </ul>
            </div>
            <div class="bg-slate-100 font-space rounded-2xl basis-4/5 sm:mx-4 mx-2 p-6 flex flex-col align-center">
                <div class="text-black mb-2 sm:mb-5 flex flex-row md:place-content-between">
                    <div>
                        <h3 class="text-lg md:text-2xl lg:text-3xl">Company 123</h3>
                        <p class="text-sm md:text-lg lg:text-xl">India</p>
                    </div>
                    <button class="md:text-lg lg:text-xl bg-green-500 text-white text-center rounded-2xl w-fit md:px-5 hidden md:block
                    h-12">Edit Profile</button>
                </div>
                <div class="text-black text-left flex flex-col md:gap-24 md:flex-row">
                    <div class="rounded-full shrink-0 border-4 border-green-400 bg-slate-50 overflow-hidden h-24 w-24 sm:h-32 sm:w-32">
                        <img src="{% static '/IMGS/avatar.png' %}" class="object-fill"/>
                    </div>
                    <ul class="basis-3/4 ml-8">
                    <li class="flex md:place-content-between flex-col my-2 md:flex-row"><p class="text-sm md:text-lg lg:text-xl">Email</p><p class="text-sm md:text-lg lg:text-xl">Email</p></li>
                    <li class="flex md:place-content-between flex-col my-2 md:flex-row"><p class="text-sm md:text-lg lg:text-xl">City</p><p class="text-sm md:text-lg lg:text-xl">City</p></li>
                    <li class="flex md:place-content-between flex-col my-2 md:flex-row"><p class="text-sm md:text-lg lg:text-xl">State</p><p class="text-sm md:text-lg lg:text-xl">State</p></li>
                    <li class="flex md:place-content-between flex-col my-2 md:flex-row"><p class="text-sm md:text-lg lg:text-xl">Country</p><p class="text-sm md:text-lg lg:text-xl">Country</p></li>
                    <li class="flex md:place-content-between flex-col my-2 mb-6 md:flex-row"><p class="text-sm md:text-lg lg:text-xl">Phone</p><p class="text-sm md:text-lg lg:text-xl">Phone</p></li>
                    </ul>
                </div>
                <button class="text-md bg-green-500 text-white text-center rounded-2xl px-4 md:hidden h-12">Edit Profile</button>
            </div>
        </div> 
    </div>
    {% endblock %}
</body>
</html>