<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.css" integrity="sha512-iAcZ4OrGhQ7KDqtM+LMc+iuv63aJ9O7hPyWBzCXsrZYuhJ6jhdeh40+hf9o4QmZVu8QrH/cWy/JTmoKNOL4Urw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js" integrity="sha512-E+gDQcIvNXE60SjCS38ysf1mGh4ObBpKcUOp0oEaHQHQAdaN2p7GelOpgEdpTuCLoIJyLkNXiqFZbyD9Ak/Ygw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

{% extends 'App/base.html' %}
{%load static%}

<body>
    {% block content %}
    <div class="bg-slate-900 flex w-full min-h-screen font-inter">
        <ul class="fixed left-[12%] sm:left-[30px] mt-[30px] sm:mt-[75px] flex w-3/4 sm:w-[200px] rounded-lg p-[10px] bg-[#f0f8ff5c] flex-row sm:flex-col">
            <li class="mx-auto sm:my-[15px] flex"><a class="text-white text-[1.1rem] flex" href="/User/Profile"><i class="bi bi-person-circle text-[1.35rem] hover:text-fuchsia-600"></i><span class="hidden sm:block mx-[5px] my-auto">Profile</span></a></li>
            <li class="mx-auto sm:my-[15px] flex"><a class="text-white text-[1.1rem] flex" href="/User/Analytics"><i class="bi bi-graph-up text-[1.35rem] hover:text-yellow-400"></i><span class="hidden sm:block mx-[5px] my-auto">Analytics</span></a></li>
            <li class="mx-auto sm:my-[15px] flex"><a class="text-white text-[1.1rem] flex" href="/User/Subscriptions"><i class="bi bi-coin text-[1.35rem] hover:text-lime-500"></i><span class="hidden sm:block mx-[5px] my-auto">Subscription</span></a></li>
            <li class="mx-auto sm:my-[15px] flex"><a class="text-white text-[1.1rem] flex" href="/logout/"><i class="bi bi-power text-[1.35rem] hover:text-rose-600"></i><span class="hidden sm:block mx-[5px] my-auto">LogOut</span></a></li>
        </ul>
        
        
        <div class="ml-[20px] sm:ml-[260px] mr-[20px] sm:mr-[50px] mt-[110px] sm:mt-[77px] rounded-lg flex flex-col w-full  bg-white p-[10px] sm:p-[20px]">
        {% block data %}
        {% endblock %}
        </div> 
    </div>
    

    <div class="fixed top-0 w-full h-screen flex bg-[#00000090] z-[999] hidden" id="modalCrop">
        <div class="relative flex m-auto p-[20px] w-[300px] sm:w-[600px] h-[500px] bg-white rounded-lg">
            <div class="modal-content w-full">
            <div class="modal-header">
                <button class="absolute top-[10px] right-[10px] closeModalCrop" ><i class="bi bi-x-lg text-black text-[20px]"></i></button>
                <h2 class="text-center text-[1.2rem]">Crop The Image</h2>
            </div>
            <div class="modal-body w-full h-[85%] flex"><img src="" id="image" class="max-w-[80%] max-h-[360px] my-auto mx-auto"></div>
            <div class="modal-footer absolute bottom-[20px]">
                <button type="button" class="js-crop-and-upload border-[1px] bg-white text-green-600 border-green-600 hover:bg-green-600 hover:text-white rounded-lg p-[3px]">Crop and Upload</button>
                <button type="button" class="border-[1px] bg-white text-rose-600 border-rose-600 hover:bg-rose-600 hover:text-white rounded-lg p-[3px] closeModalCrop">Cancel</button>
            </div>
            <div class="absolute top-[80%] right-[5%] zoom-bar bg-black text-white text-[15px] sm:text-[20px] px-[5px] w-max rounded-md"><button type="button" class="m-[5px] js-zoom-in"><i class="bi bi-zoom-in"></i></button><button type="button" class="m-[5px] js-zoom-out"><i class="bi bi-zoom-out"></i></button></div>
            </div>
        </div>
    </div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.css" integrity="sha512-iAcZ4OrGhQ7KDqtM+LMc+iuv63aJ9O7hPyWBzCXsrZYuhJ6jhdeh40+hf9o4QmZVu8QrH/cWy/JTmoKNOL4Urw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js" integrity="sha512-E+gDQcIvNXE60SjCS38ysf1mGh4ObBpKcUOp0oEaHQHQAdaN2p7GelOpgEdpTuCLoIJyLkNXiqFZbyD9Ak/Ygw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(function () {
        $(".closeUpdate").click(function () {
            $("#Update").toggleClass("hidden");
            $(".closeUpdate").toggleClass("hidden");
        });

        /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
        $("#id_profile_pic").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#image").attr("src", e.target.result);
                        $("#modalCrop").toggleClass("hidden");
                        $("#modalCrop").toggleClass("shown");
                    }
                reader.readAsDataURL(this.files[0]);
            }
        });
        $(".closeModalCrop").click(function () {
            $("#modalCrop").addClass("hidden");
            $("#modalCrop").toggleClass("shown");
        });

        var $image = $("#image");
        var cropBoxData;
        var canvasData;
        $("#image").click(function () {
            $image.cropper({
                viewMode: 1,
                aspectRatio: 1/1,
                minCropBoxWidth: 200,
                minCropBoxHeight: 200,
                ready: function () {
                    $image.cropper("setCanvasData", canvasData);
                    $image.cropper("setCropBoxData", cropBoxData);
                }
            });
        });

        $(".js-zoom-in").click(function () {
            $image.cropper("zoom", 0.1);
        });

        $(".js-zoom-out").click(function () {
            $image.cropper("zoom", -0.1);
        });

        /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
        $(".js-crop-and-upload").click(function () {
            var cropData = $image.cropper("getData");
            $("#id_x").val(cropData["x"]);
            $("#id_y").val(cropData["y"]);
            $("#id_height").val(cropData["height"]);
            $("#id_width").val(cropData["width"]);
            $("#ProfileUpdate").submit();
        });
    });
</script>


  
    {% endblock %}
</body>
</html>