<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>    
</head>

{% extends 'App/base.html' %}
{%load static%}

<body>
    {% block content %}
    <div class="content bg-slate-900 p-24">
        <div class="min-w-full font-space">
            <h1 class="text-green-300 text-7xl font-bold ">Company Name</h1>
            <div class="my-9 w-fit bg-green-300 px-2 rounded-md">Shipments To Arrive Today</div>
        </div>
        <div class="Table min-w-4/5 p-2 bg-slate-50 rounded-2xl overflow-auto">
            <table class="relative border-separate border-spacing-0 table-auto min-w-full bg-slate-50 text-sm opacity-90 text-center font-inter">
                <thead class="bg-slate-300">
                    <tr>
                        <th class="rounded-tl-xl">Name</th>
                        <th>Contact</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th class="rounded-tr-xl">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for waste in wastes %}
                    <tr>
                        <td class="text-left px-4 py-1 border-b border-slate-300 border-l"><div class="font-bold">{{waste.id}}</div>Vidyesh</td>
                        <td class="text-left px-4 py-1 border-b border-slate-300"><span>kumarvidyesh@gmail.com</span><br>+91 8310137461</td>
                        <td class="border-b border-slate-300">Mangaluru</td>
                        <td class="border-b border-slate-300"><div class="bg-green-100 text-green-800 w-fit px-1 rounded m-auto">Done</div></td>
                        <td class="border-b border-slate-300 border-r"></td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
            <div class="w-full text-[1 rem] h-5 my-4 text-center">
                {% if wastes.has_previous %}
                <button class="p-[5px] m-[5px]" type="button"><a href="?page=1"><i class="bi bi-chevron-double-left"></i>First</a></button>
                <button class="p-[5px] m-[5px]" type="button"><a href="?page={{wastes.previous_page_number}}"><i class="bi bi-chevron-left"></i>Previous</a></button>
                {% endif %}
                <button class="p-[5px] m-[5px]" type="button">Page {{wastes.number}} of {{wastes.paginator.num_pages}}</button>
                {% if wastes.has_next %}
                <button class="p-[5px] m-[5px]" type="button"><a href="?page={{wastes.next_page_number}}">Next<i class="bi bi-chevron-right"></i></a></button>
                <button class="p-[5px] m-[5px]" type="button"><a href="?page={{wastes.paginator.num_pages}}">Last<i class="bi bi-chevron-double-right"></i></a></button>
                {% endif %}
            </div>
            
        </div>
    </div>
    {% endblock %}
</body>
</html>